<!DOCTYPE html>
<html>
    <head>
        <title>Dyscovery recorder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" defer>
        <link rel="stylesheet" href="css/style.css" defer>
    </head>
    <body>
        <div class="container py-5">
            <div class="row">
                <img src="asset/dyscovery_logo.png" id="logo"/>
                <h1 class="col-10">Dyscovery recorder</h1>
            </div>
            <hr />
            <div class="row pt-5 mb-5">
                <p class="col-12 text-center">
                    Bonjour et bienvenue sur le site dyscovery_recorder.<br />
                    Ce site a pour but de récolter des données afin de réaliser une intelligence artificielle de reconnaissance vocale qui sera utilisée dans notre projet de fin d'étude: Dyscovery.</br />
                    Dyscovery est un projet visant à aider à la détection de la dyslexie chez les enfants de 7 à 10 ans par le biais de mini-jeux.<br />
                    L'un d'eux consiste à une diction de pseudo-mots (par exemple "acodin"), c'est pour cela que nous avons besoin d'une intelligence artificielle capable de reconnaître ces mots afin d'obtenir le score des enfants<br />
                    Vous pouvez tous nous aider dans notre projet en réalisant un don de voix sur cette plateforme.<br />
                    La totalité des enregistrements dure environ 5 minutes avec un total de 31 mots à dire.<br />
                    Bien-sûr votre voix ne sera pas diffusée sur internet et personne n'y aura accès. Aucune de vos données personnelles ne seront stockées.<br />
                    Si vous souhaitez nous aider, veuillez appuyer sur le bouton ci-dessous et veillez à être dans un environnement calme pour que l'enregistrement se passe au mieux</br />
                    <br />
                    <strong>Attention l'enregistrement ne fonctionne que sur Edge !</strong>
                </p>
            </div>
            <div class="row">
                <a class="col-6 mx-auto btn btn-primary" href="record">Je donne ma voix</a>
            </div>
        </div>
    </body>
</html>