p
{
    font-size: xx-large;
}

#logo
{
    width: 64px;
    height: 64px;
}

#mic
{
    width: 64px;
    height: 64px;
}

.btn-radius
{
    border-radius: 50px;
}

#word
{
    font-weight: bold;
    font-size: 54px;
}